.list-table{
    width: 100%;
}
.list-delete{
    min-width: 10px;
}
.list-table-item{
    text-align: center;
}
.list-table-item input, .list-table-item select{
    width: 80%;
}
.list-table-header{
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.list-table-header td{
    padding-bottom: 20px;
}
.list-main-block{
	float: left;
	width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.list-main-block h4{
    padding-left: 22px;
}
.list-table-delete{
    color: red;
    font-size: 25px;
    cursor: pointer;
}
.list-table-delete:hover{
    color: #ff5454;
}
.list-table-add{
    margin-top: 20px;
}
.simplelist .sortable-move {
    cursor: move;
}
.simplelist .sortable-move img {
    margin-top: 8px;
}